@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans+Semi+Condensed:wght@300;400;500;600;700&display=swap");

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Sofia Sans Semi Condensed", sans-serif;
  font-weight: 400;
  font-size: 20px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.overflow-y-auto::-webkit-scrollbar {
    width: 4px;
    background-color: rgb(20, 20, 20);
  }
  
.overflow-y-auto::-webkit-scrollbar-thumb {
    background-color: rgb(43, 43, 43);
  }